{% extends "base.html.twig" %}

{% block content %}
    <a href="/expenses/add" title="Nouvelle dépense" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus-sign"></span> Ajouter
    </a>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date</th>
                <th>Magasin</th>
                <th>Prix</th>
                <th>Notice</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in pager.iterator %}
                <tr class="list-group-item-{{ expense.warranty_active ?  'success' : 'danger' }} {{ expense.trashed ? 'trashed' : '' }}">
                    <td><a href="#detail-{{ expense.id }}">{{ expense.name }}</a></td>
                    <td>{{ expense.created_at | date('d/m/Y') }}</td>
                    <td>{{ expense.shop }}</td>
                    <td>{{ expense.price | number_format(2) }} €</td>
                    <td><span class="glyphicon glyphicon-{{ expense.hasNotice() ? 'check' : 'unchecked' }}"></span></td>
                    <td id="detail-{{ expense.id }}" class="overlay">
                        <div class="content">
                            <a href="#" class="close"><span aria-hidden="true">&times;</span></a>
                            {{ include('expense/view.html.twig', { 'expense': expense }) }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ include('pager.html.twig', { 'pager': pager }) }}
{% endblock %}
