{% macro form_control(label, value) %}
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ label }}</label>
        <div class="col-sm-6">
            <p class="form-control-static">{{ value|raw }}</p>
        </div>
    </div>
{% endmacro %}

{% import _self as self %}

<h1 class="{{ expense.trashed ? 'trashed' : '' }}">
    {% if expense.url is not null %}
        <a href="{{ expense.url }}">{{ expense.name }}</a>
    {% else %}
        {{ expense.name }}
    {% endif %}
</h1>

<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-8">
            Acheté le {{ expense.created | date('d/m/Y') }} chez {{ expense.shop }} pour {{ expense.price }} €
        </div>
    </div>

    {% if expense.serial is not empty %}
        {{ self.form_control('N° série', expense.serial) }}
    {% endif %}

    {% if expense.warranty_active %}
        {{ self.form_control('Garantie', expense.warranty_at | date('d/m/Y')) }}
    {% else %}
        {{ self.form_control('Garantie', ' <strong>terminée</strong>') }}
    {% endif %}

    {{ self.form_control('', '<a href="/expenses/{{ expense.id }}/invoice">Facture</a>') }}

    {% if expense.hasNotice() %}
        {{ self.form_control('', '<a href="/expenses/{{ expense.id }}/notice">Notice</a>') }}
    {% endif %}

    <div class="form-group">
        <a href="/expenses/{{ expense.id }}/photo"><img class="center-block" src="/expenses/{{ expense.id }}/photo" /></a>
    </div>

    <div class="form-group">
        <a href="/expenses/{{ expense.id }}/edit" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Modifier</a>
        {% if not expense.trashed %}
            <a href="/expenses/{{ expense.id }}/trash" class="btn btn-warning"><span class="glyphicon glyphicon-trash"></span> Jeter</a>
        {% else %}
            <a href="/expenses/{{ expense.id }}/untrash" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span> Recycler</a>
        {% endif %}
        <a onclick="return confirm('Êtes vous sûr ?');" href="/expenses/{{ expense.id }}/delete" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Supprimer</a>
    </div>
</form>
