<h1 class="{{ expense.trashed ? 'trashed' : '' }}">
    {% if expense.url is not null %}
        <a href="{{ expense.url }}">{{ expense.name }}</a>
    {% else %}
        {{ expense.name }}
    {% endif %}
</h1>

<div>
    Acheté le {{ expense.created | date('d/m/Y') }} chez {{ expense.shop }} pour {{ expense.price }} €
</div>

<div>
    {% if expense.warranty_active %}
        Garantie jusqu’au {{ expense.warranty_at | date('d/m/Y') }} soit {{ expense.warranty_end.format('%d jours, %m mois, %y années') }}
    {% else %}
        <strong>Garantie terminée</strong>
    {% endif %}
</div>

<div>
    <a href="/expenses/{{ expense.id }}/photo"><img src="/expenses/{{ expense.id }}/photo" /></a>
    <a href="/expenses/{{ expense.id }}/invoice">Facture</a>
    {% if expense.hasNotice() %}
        <a href="/expenses/{{ expense.id }}/notice">Notice</a>
    {% endif %}
</div>

<div>
    <a href="/expenses/{{ expense.id }}/edit" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Modifier</a>
    {% if not expense.trashed %}
        <a href="/expenses/{{ expense.id }}/trash" class="btn btn-warning"><span class="glyphicon glyphicon-trash"></span> Jeter</a>
    {% else %}
        <a href="/expenses/{{ expense.id }}/untrash" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span> Recycler</a>
    {% endif %}
    <a onclick="return confirm('Êtes vous sûr ?');" href="/expenses/{{ expense.id }}/delete" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Supprimer</a>
</div>
